* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ecf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

#block-grid-container {
    padding: 5% 3%;
}

#quote {
    position: absolute;
    right: 15%;
    top: 0;
    z-index: 1;
}

#block-1 {
    background-color: #7541c8;
    color: white;
    position: relative;
    z-index: 2;
}

#block-2 {
    background-color: #48556a;
    color: white;
}

#block-3, #block-5 {
    background-color: #ffffff;
    color: #48556a;
}

#block-4 {
    background-color: #19212e;
    color: white;
}

.grid-item {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
    font-size: 13px;
}

.grid-item p {
    opacity: 70%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 3;
}

.header img {
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #7541c8;
}

.grid-item h4 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}

.header .header-text .name {
    font-size: 1rem;
    opacity: 100%;
}

@media (min-width: 576px) {
    #block-grid-container, #main-left, #top, #bottom {
        display: flex;
    }


    #block-grid-container {
        max-width: 1400px;
        margin: 0 auto;
    }

    #main-left {
        flex-direction: column;
        flex-basis: 80%;
    }

    #main-left .grid-item {
        margin-right: 15px;
    }

    #top, #bottom {
        flex-basis: 50%;
    }

    #block-1, #block-4 {
        flex-basis: 65%;
    }

    #block-2, #block-3 {
        flex-basis: 35%;
    }

    #block-5 {
        flex-basis: 20%;
    }
}